body{
    padding-top:3rem;
    padding-bottom:3rem;
    /* color:#5a5a5a; */
}

.carousel{
    margin-bottom:4rem;
}

.carousel-caption{
    bottom:3rem;
    z-index:10;
}

.carousel-item{
    height:32rem;
}

.marketing .col-lg-4{
    margin-bottom:1.5rem;
    text-align:center;
}

.markeing .col-lg-4 p{
    margin-right:.75rem;
    margin-right:.75rem;
}

.featurette-divider{
    margin:5rem 0;
}

.featurette-header{
    letter-spacing:-.05rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    top: 3rem;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    
    
}

@media (min-width:768px){
    .bd-placeholder-img-lg{
        font-size:3.5rem;
    }
}

.b-example-divider{
    height:3rem;
    background-color:rgba(0,0,0,.1);
    border:solid rgba(0,0,0,.15);
    border-width:1px 0;
    box-shadow:inset 0 .5em 1.5em rgba(0,0,0.1),inset 0 .125em .5em rgba(0,0,0,.15);
}

.b-example-vr{
    flex-shrink:0;
    width:1.5rem;
    height:100vh;
}

.bi{
    vertical-align:-.125em;
    fill:currentColor;
}
 

@media (min-width:40em){
    .carousel-caption p{
        margin-bottom:1.25rem;
        font-size:1.25rem;
        line-height:1.4;
    }

    .featurette-heading{
        font-size:50px;
    }
}

@media (min-width:62em){
    .featurette-heading{
        margin-top:7rem;
    }
}